header {
  width: 100%;
  height: 100px;
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .header-links{
  display: flex;
  gap: 40px;
  user-select: none;
}

header .header-links a{
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

header .auto{
  cursor: pointer;
  user-select: none;
}

header .header-icons {
  width: 250px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-icons .user,
header .header-icons .search,
header .header-icons .heart,
header .header-icons .cart{
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header .header-icons .heart:active,
header .header-icons .cart:active,
header .header-icons .user:active,
header .header-icons .search:active{
  border-width: 1px ;
  transform: scale(1.20);
  background-color: #dbdbdb;
}

header .header-icons a{
  color: #000;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #f1f1f1;
}

.sidebar ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li a:hover{
  color: #fff;
}

header button{
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.3s;
    user-select: none;
}

button:active{
    color: #fff;
}
